.contact-us {

    &__content {
        max-width: 495px;

        .sub-title {

            @media (max-width: 991px) {
                font-size: 16px;
                line-height: 24px; 
            }

            @media (max-width: 575px) {
                font-size: 14px;
                line-height: 20px; 
            }
        }

        .title {

            @media (max-width: 991px) {
                font-size: 32px;
                line-height: 40px; 
            }

            @media (max-width: 575px) {
                font-size: 28px;
                line-height: 38px; 
            }

            @media (max-width: 480px) {
                font-size: 26px;
                line-height: 34px; 
            }
        }
    }

    &__item {
        max-width: 254px;

        &-wrapper {
            margin-bottom: -40px;
            
            @media (min-width: 992px) {
                margin-left: -11px;
            }

            .col-6:nth-child(even) {
                
                .contact-us__item {
                    margin-left: auto;
                }
            }
        }

        .icon {
            font-size: 28px;

            .icon-email {
                font-size: 20px;
            }
        }

        .title {

            @media (max-width: 575px) {
                font-size: 16px;
                line-height: 26px; 
            }
        }

        ul {

            li {
                
                a {
                    font-size: 16px;
                    line-height: 28px;
                    color: $textcolor;
                    font-family: $la;

                    &:hover, &:focus {
                        color: $primary;
                    }
                }
            }
        }
    }

    hr {
        opacity: 1;
        border-radius: 5px;
        border: 1px solid #E2E9FF !important;
    }
}

.contact-form {

    #contact-map { 
        width: 100%;
        height: 300px; 

        @media (min-width: 768px) {
            height: 100%;
            position: absolute;
        }
    }

    .contact-form {
        max-width: 550px; 
        position: relative;
        background: $white;
        box-shadow: 0px 10px 30px rgba(4, 33, 63, 0.05);

        &__header {

            .sub-title {
                font-size: 16px;
                line-height: 24px;
            }

            .title {
                
                @media (max-width: 991px) {
                    font-size: 30px;
                    line-height: 42px; 
                }

                @media (max-width: 767px) {
                    font-size: 30px;
                    line-height: 42px;
                }

                @media (max-width: 767px) {
                    font-size: 26px;
                    line-height: 38px;
                }
            }
        }

        .single-personal-info {
            margin-bottom: 20px;
        }

        input, textarea {
            width: 100%;
            outline: none;
            font-size: 15px;
            font-family: $la;
            max-width: 100%;
            font-weight: 400;
            line-height: 26px;
            border-radius: 4px;
            padding: 10.5px 20px;
            background-color: $white;
            box-sizing: border-box;
            border: 1.5px solid rgba(14, 30, 54, 0.2);

            &::placeholder {
                color: $textcolor;
                font-size: 15px;
                font-weight: 400;
                font-family: $la;
                line-height: 26px;
            }
        }

        textarea {
            resize: none;
            height: 120px;
        }

        .theme-btn {
            margin-top: -8px;
        }
    }
}