@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('assets/fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato'; 
    src: url('assets/fonts/Lato-Medium.woff2') format('woff2'),
        url('assets/fonts/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato'; 
    src: url('assets/fonts/Lato-Semibold.woff2') format('woff2'),
        url('assets/fonts/Lato-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}