/**competitive-edge**/
.fauture__element{
    padding: 100px;
    @media (max-width:1200px) {
        padding: 40px;
    }
    @media (max-width:500px) {
        padding: 20px;
    }
    .fauture__widget{
        background-color: $white;
        padding: 6px;
        display: flex;
        align-items: center;
        .fauture__icons{
            background: #FFF5E6;
            padding:15px;
            .icon{
                padding-bottom: 15px;
                border-bottom: 1px solid #F0E8D7;
                i{
                    font-size: 45px;
                    color: $primary1 !important;
                }
            }

            h4{
                padding-top: 15px !important;
                font-family: $pop;
                font-weight: 500;
                font-size: 48px;
                line-height: 60px;
                color: #F0E8D7;
            }
        }
        .fauture__content{
            padding-left: 20px;
            h4{
                font-family: $pop;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                color:  $dark_black;
                margin-bottom: 10px;
            }
            p{

            }
        }
    }
    .staff__widget{
        text-align: center;
        background-color: $primary1;
        padding: 20px 0px;
        span{
            font-family: $pop;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color : $white;
            a{
                text-decoration: underline;
                font-family: $pop;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                color : $white;
                margin-left: 10px;
                @include transition(0.4s);
                &:hover{
                    color: $primary3;
                }
            }
        }
    }
}

/**team-wrapper start**/

.single_team_widget{
    text-align: center;
    border-radius: 6px;
    padding: 40px 10px;
    background-color: #fff;
    .man_img{
       img{
        height: 150px;
        width: auto;
        border-radius: 50%;
       }
    }
    .author_name{

        margin-top: 30px;
        h4{
            font-family: $pop;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 5px;
        }
        p{
            font-family: $la;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
            color: #1B3C54;
        }
    }
    .social_link{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        ul{
            li{
                float: left;
                display: block;
                a{
                    margin: 0px 3px;
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:$primary1;
                    font-size: 15px;
                    line-height: 32px;
                    border-radius: 50%;
                    background: rgba(255, 156, 0, 0.1);
                    @include transition(0.4s);
                    &:hover{
                        background: $primary1;
                        color: $white;
                    }
                }
            }
        }
    }
}

/**Our Testimonials**/
.slingle_agent{
    .agent_author{
        margin-right: 30px;
        .author{
            height: 120px;
            width: 120px;
            img{
                height:120px;
            }
        }
        .quote{
            text-align: center;
            margin-top: -20px;
            i{
                font-size: 30px;
                line-height: 45px;
                color: $primary1;
            }
        }
        
        .company_logo{
           
            img{
                text-align: center !important;
                width: auto;
                height: auto;
            }
        }
    }
    .agent_content{
        h4{
            font-family: $pop;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            text-transform: uppercase;
            color: #0E1E36;
            margin-bottom: 5px;
        }
        h5{
            font-family: $pop;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            text-transform: capitalize;
            color: $primary1;
            margin-bottom: 15px;
        }

    }
}
.slick-dots {
    margin-top: 40px;
    display: flex;
    justify-content: center;


    @media (max-width: 1199px) { 
        bottom: 30px;
    }

    li {
        margin:3px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        flex-direction: row;
        border-radius: 500px;
        background: transparent;
        border: 2px solid $primary1;
        
        @media (max-width: 1199px) { 
            width: 16px;
            height: 16px;
        }
        
        &.slick-active {
            
            &:after {
                @include transform(scale(1));
            }
        }

        &:after {
            content: "";
            width: 8px;
            height: 8px;
            line-height: 20px;
            position: absolute;
            background: $primary1;
            left: calc(50% - 4px);
            border-radius: 500px; 
            top: calc(50% - 4px);
            @include transition(.3s); 
            @include transform(scale(0));
            
            @media (max-width: 1199px) { 
                width: 6px;
                height: 6px;
                top: calc(50% - 3px);
                left: calc(50% - 3px);
            }
        }

        button {
            display: none;
        }
    }
}

/**Our Blog start**/
.blog_wrapper{
    position: relative;
    z-index: -1;
    &::after{
        z-index: -1;
        content: "";
        width: 100%;
        height: 50%;
        background-image: url(assets/img/home-5/bg_04.png);
        background-position: 0 0;
        top: 0;
        left: 0;
        position: absolute;
        display: inline-block;
    }
    .single_blog{
        padding: 30px;
        background-color: #fff;
        box-shadow: 0px 2px 32px rgba(14, 10, 1, 0.05);
        .author_info{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .author_con{
                margin-left: 20px;
                li{
                    font-family: $pop;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #1B3C54;
                    margin: 5px 0px;
                    i{
                        color: #FF9C00;
                        margin-right: 10px;
                    }
                }

            }
        }
        h4{
            font-family: $pop;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            text-transform: capitalize;
            color: #0E0A01;
            margin-bottom: 10px;
        }
        p{
            color: #243342;
        }
        .theme-btn{
            &.btn-transparent{
                
                &::after {
                    background: $primary1 !important;
                }
                &:hover{
                    color: $white;
                    border: 1px solid $primary1;
                }
            }
        }
    }
}

/**portfolio_wrapper  start**/
.portfolio_wrapper{
    margin-bottom: -100px;
    z-index: 5;
}
.single_portfolio{
    overflow: hidden;
    @include transition(0.4s);
    .single_img{
        overflow: hidden;
        position: relative;
        .cta_btn{
            a{
                position: absolute;
                margin-top: -21%;
                left: -45%;
                bottom: 0%;
                padding: 20px;
                background: $primary1;
                font-family: $pop;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                text-transform: uppercase;
                z-index: 1;
                color: #FFFFFF;
                i{
                    margin-left: 15px;
                }
                @media (max-width:900px) {
                    padding: 10px 20px;
                }
            }
        }
        img{
            @include transition(0.4s);
            width: 100%;
        }
    }
    .content{
        h5{
            margin-top: 30px;
            font-family: $pop;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            text-transform: uppercase;
            color: #FF9C00;
            margin-bottom: 10px;
        }
        h3{
            font-family: $pop;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: #0E0A01;
            position: relative;
            padding-bottom: 20px;
            &::after{
                @include transition(0.4s);
                z-index: 1;
                content: "";
                clear: both;
                height: 3px;
                width:60%;
                background-color: #FF9C00;
                bottom: 0;
                left: 0;
                position: absolute;
            }
        }
    }
    &:hover{
        img{
            transform: scale(1.2);
        }
        a{
            left: 0% !important;
        }
        h3{
            &::after{
                width:30%;
            }
        }
    }

}
/**fun-fact_wrapper start**/
.fun-fact_wrapper{
    position: relative;
    z-index: -1;
    padding-top: 200px;
    @include overlay(#000000, 0.9);
    .counter-area{
        
    }
}