.similar-work {

    .mb-minus-30 {
        margin-bottom: -30px;
    }

    &.similar-work-services {
        padding-top: 226px;

        @media (max-width: 1199px) {
            padding-top: 210px;
        }

        @media (max-width: 991px) {
            padding-top: 290px;
        }

        @media (max-width: 575px) {
            padding-top: 260px;
        }
    }
    
    &__content {
        gap: 15px 30px;

        @media (max-width: 767px) {
            gap: 10px 30px;
        }

        &-text {

            .sub-title {
                font-size: 16px;
                line-height: 26px;

                @media (max-width: 767px) {
                    font-size: 14px;
                    margin-bottom: 0;
                    line-height: 24px;
                } 
            }

            .title {
                
                span {
                    font-weight: 300;
                }
 
                @media (max-width: 1199px) {
                    font-size: 42px;
                    line-height: 56px; 
                }
    
                @media (max-width: 991px) {
                    font-size: 36px;
                    line-height: 50px; 
                }
    
                @media (max-width: 767px) {
                    font-size: 32px;
                    line-height: 46px; 
                } 
            }
        }
    }

    &__item {
        overflow: hidden;
        background: $white;
        height: calc(100% - 30px);

        &:hover {

            .media {
                
                img {
                    @include transform(scale(1.2));
                }
            }
        }

        &.reade-more-hidden {
            position: relative;
            background: transparent;

            .top {
                border: 1px solid rgba(64, 105, 255, 0.2);
                border-bottom: none;
            }

            .media {
                height: 300px;
            }

            .theme-btn {
                left: 0;
                bottom: 0;
                width: 100%;
                position: absolute;
                @include transform(translate(0, 100%));
            }

            &:hover {

                .theme-btn {
                    @include transform(translate(0, 0));
                } 
            }
        }

        .top {
            gap: 15px 30px;
            padding: 40px 20px 40px 30px;
            
            @media (max-width: 1300px) {
                gap: 10px 20px;
                padding: 25px 15px;
            }
            
            .icon {
                width: 80px;
                height: 80px;
                font-size: 45px;
                min-width: 80px;
                line-height: 80px;
                background: $primary;

                @media (max-width: 1199px) {
                    width: 60px;
                    height: 60px;
                    min-width: 60px;
                    font-size: 35px;
                    line-height: 60px;
                }
            }

            .title {

                @media (max-width: 1300px) {
                    font-size: 20px;
                    line-height: 26px;
                }

                @media (max-width: 1199px) {
                    font-size: 18px;
                    line-height: 24px;
                }

                a {

                    &:hover, &:focus {
                        color: $primary;    
                    }
                }
            }
        }

        .media {
            width: 100%;
            height: 250px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .3s ease;
            }
        }

        .theme-btn {
            display: flex;
            align-items: center;
            padding: 13px 20px;
            justify-content: center;
            transition: all .3s ease;

            i {
                opacity: 0.9;
                font-size: 20px;
                margin-left: 10px;
            }

            &.btn-yellow {

                &:hover, &:focus {
                    color: $secondary;
                    background: $primary1;
                }
            }

            &:hover, &:focus {
                color: $dark_black;
                background: $primary;
            }
        }
    }
}

.pagination-item {
    width: 100%;
    z-index: 1;
    height: 100%;
    gap: 30px;
    position: relative;
    background-size: cover;
    padding: 41px 60px 41px 30px;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
        padding: 30px 25px !important;
    }

    @media (max-width: 380px) {
        gap: 12px;
        padding: 20px 20px !important;
    }
    
    &:after {
        left: 0;
        width: 100%;
        z-index: -1;
        content: "";
        height: 100%;
        position: absolute;
        background: linear-gradient(90deg, #4069FF 0%, rgba(64, 105, 255, 0.2) 100%);
    }

    &:hover, &:focus {

        .left {
            color: $primary1 !important;
        }
    
        .right {
    
            span, .title {
                color: $primary1 !important;
            }
        } 
    }
    
    &.flex-row-reverse {
        padding-left: 60px;
        padding-right: 30px;

        &:after {
            background: linear-gradient(90deg, rgba(64, 105, 255, 0.2) 0%, #4069FF 100%);
        }

        .left {

            i {
                margin-right: 0;
                margin-left: 10px;

                @media (max-width: 380px) {
                    margin-left: 5px;
                }
            }
        }

        .right {
            text-align: left !important;
        }
    }

    &__wrapper {
        gap: 30px;

        @media (max-width: 767px) {
            gap: 20px 30px;
        }
    }

    .left {
        display: flex;
        font-size: 16px;
        line-height: 26px;
        align-items: center;
        transition: all .3s ease;

        @media (max-width: 575px) {
            font-size: 14px;
            line-height: 18px;
        }

        @media (max-width: 380px) {
            font-size: 13px;
            line-height: 17px;
        }

        i {
            font-size: 20px;
            font-weight: 400;
            margin-right: 10px;

            @media (max-width: 575px) {
                font-size: 18px;
            }

            @media (max-width: 380px) {
                font-size: 16px;
                margin-right: 5px;
            }
        }
    }

    .right {

        span {
            font-size: 16px;
            line-height: 26px;
            transition: all .3s ease;

            @media (max-width: 575px) {
                font-size: 14px;
                line-height: 18px;
            }
        }

        .title {
            transition: all .3s ease;

            @media (max-width: 575px) {
                font-size: 20px;
                line-height: 24px;
            }

            @media (max-width: 380px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

.our-project-details {

    .mb-minus-30 {
        margin-bottom: -30px;
    }

    .media {
        width: 100%;
        height: 730px;

        @media (max-width: 991px) {
            height: 650px;
        }

        @media (max-width: 767px) {
            height: 500px;
        }

        @media (max-width: 575px) {
            height: 480px;
        }

        @media (max-width: 480px) {
            height: 400px;
        }

        @media (max-width: 380px) {
            height: 380px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-meta {
        margin-top: -80px;
        position: relative;
        background: $dark_white;

        @media (max-width: 1300px) {
            margin-right: 20px;
            margin-left: 20px;
        }

        .meta-item {
            padding: 10px;
            gap: 10px 20px;

            @media (max-width: 1300px) {
                gap: 10px 15px;
            }

            .icon {
                width: 60px;
                height: 60px;
                font-size: 20px;
                min-width: 60px;
                color: $primary;
                line-height: 60px;
                border-radius: 500px;
                background: #E2E9FF;

                @media (max-width: 1300px) {
                    width: 50px;
                    height: 50px;
                    font-size: 18px;
                    min-width: 50px; 
                    line-height: 50px; 
                }
            }

            .text {

                h6 {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }

    &__content {

        h6 {
            color: $primary;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 15px;
            text-transform: uppercase; 

            @media (max-width: 767px) {
                margin-bottom: 10px;
            }
        }

        h2 {
            color: $dark_black;
            margin-bottom: 20px;
            
            span {
                font-family: $la;
                margin-left: 8px;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                color: $textcolor;
                white-space: nowrap;
            }

            @media (max-width: 1199px) {
                font-size: 42px;
                line-height: 56px; 
            }

            @media (max-width: 991px) {
                font-size: 36px;
                line-height: 50px; 
            }
            
            @media (max-width: 767px) {
                font-size: 32px;
                line-height: 46px; 
                margin-bottom: 10px;
            }

            @media (max-width: 575px) {
                font-size: 28px;
                line-height: 42px; 
            }
        }

        p {
            font-family: $la;
            max-width: 1330px;
            margin-bottom: 20px;
        }

        blockquote {
            margin-top: 30px;
            margin-bottom: 50px;

            p {
                font-size: 20px;
                line-height: 32px;
                font-family: $pop;
                font-style: italic;
            }
        }

        figure {
            gap: 30px;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 50px;
        }

        ul {
            gap: 30px 94px;
            column-count: 2;
            margin: 30px 0 30px 0;
            max-width: max-content;
            
            @media (max-width: 991px) {
                gap: 30px 40px;
            }

            @media (max-width: 575px) {
                column-count: 1;
                margin-bottom: 20px;
            }

            li {
                font-family: $pop;
                font-weight: 500;
                color: $dark_black;
                padding-left: 50px;
                position: relative;
                margin-bottom: 20px;

                &:after {
                    left: 0;
                    width: 30px;
                    content: "ï€Œ";
                    height: 30px;
                    color: $primary;
                    line-height: 30px;
                    font-size: 12px;
                    text-align: center;
                    position: absolute;
                    border-radius: 500px;
                    top: calc(50% - 13px);
                    background: $dark_white;
                    font-family: "Font Awesome 5 Pro";
                }
            }
        }

        hr {
            margin-top: 65px;

            @media (max-width: 1199px) {
                margin-top: 40px;
            }

            @media (max-width: 991px) {
                margin-top: 30px;
            }

            @media (max-width: 767px) {
                margin-top: 20px;
            }

            @media (max-width: 575px) {
                margin-top: 15px;
            }
        }
    }
}